<% if object.errors.any? %>
  <div class="gap-5 mb-5">
    <div class="flex items-center p-3.5 rounded text-danger bg-danger-light dark:bg-danger-dark-light">
      <span class="ltr:pr-2 rtl:pl-2">
        <strong class="ltr:mr-1 rtl:ml-1">Prosím opravte nasledujúce chyby :</strong>
        
      </span>
    </div>
    <ul class="list-disc pl-10">
      <% object.errors.full_messages.each do |message| %>
        <li class="text-danger mt-1"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
